<div class="profileposts">
  <div class="profilepost">
    <h3><%= @post.title %></h3>
    <%= @post.body %><br>
  <% if @current_user && @current_user.id == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
  Posted by: <a href="/users/<%= @post.user_id %>"><%= @post.user.full_name %></a>
  <% end %>
  </div>

  <%= render 'comments/form', comment: Comment.new(post_id: @post.id) %>
  <% @post.comments.order( id: :desc ).each do |comment| %>
    <div class="commentbody">
      <%= comment.body %><br>
      <% if @current_user && @current_user.id == comment.user_id %>
        <em>Your comment:</em> <a href="/comments/<%= comment.id %>/edit">Edit</a> | <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% elsif @current_user && @current_user.id == @post.user_id %>
        <a href='/users/<%= comment.user_id %>'><%= comment.user.full_name %></a><br>
        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <a href='/users/<%= comment.user_id %>'><%= comment.user.full_name %></a>
      <% end %>
    </div>
  <% end %>
</div>
